/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESET */
 a, li, ul, body, html, section, form, label, textarea, input, select,
 h1, h2, h3, p, nav, header, footer, br, button, div {
   background: transparent;
   font-style: inherit;
   color: inherit;
   font-size: inherit;
   text-align: inherit;
   vertical-align: inherit;
   font-weight: inherit;
   font-family: inherit;
   line-height: inherit;
   text-decoration: none;
   border: 0;
   padding: 0;
   outline: 0;
   margin: 0;
}

::-webkit-scrollbar {
   background: transparent;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

button {
  cursor: hand;
  cursor: pointer;
  display: block;
  font-weight: bold;
}

button:hover {
  color: #a0e;
}

ul, li {
  list-style: none;
}

body {
  background: #A0ED91;
  font-family: arial;
  line-height: 1;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a:hover {
  color: #a0e;
}


/* CLEARFIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* SIGN UP / IN */

.sign-in-main {
  width: 500px;
  height: 760px;
  padding: 20px 200px;
  margin: auto;
  overflow: hidden;
  border-left: 1px solid #a0e;
  border-right: 1px solid #a0e;
}

.session-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.sign-up, .sign-in {
  text-align: center;
  background: #8BCF7E;
  border-radius: 10px;
  border: 1px solid #a0e;
  padding: 19px;
  display: block;
  margin-bottom: 40px;
}

.new-session-input {
  margin: auto;
}

.twitter-sign-up-desc {
  text-align: center;
}

.twitter-sign-in {
  display: block;
  width: 158px;
  margin: auto;
}

.twitter-sign-in:hover {
  width: 180px;
}

.new-session-button {
  display: block;
  padding: 10px 5px 10px 5px;
  border-radius: 25%;
  font-weight: bold;
  margin: auto;
}

.new-session-button:hover {
  background: #ACFC83;
}


/* FORMS SO STYLISH */
.log-form, .new-shoe, .blog-form {
  background: #8BCF7E;
  border-radius: 10px;
  border: 1px solid #a0e;
  padding: 19px;
  display: block;
}

.log-form > button, .new-shoe > button, .blog-form > button {
  display: block;
  padding: 10px 5px 10px 5px;
  border-radius: 25%;
  font-weight: bold;
}

.log-form > button:hover, .new-shoe > button:hover,
.blog-form > button:hover {
  background: #ACFC83;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  margin-bottom:10px;
}

label > input, label > textarea, label > select {
  display: block;
  font-size: 16px;
  font-weight: normal;
  padding: 4px;

  border: 1px solid #a0e;
  border-radius: 10px;
  vertical-align: middle;
}

input, textarea, select {
  background: #fff;
}

select {
  display: inline;
}

.date-input {
  display: inline;
  width: 150px;
  text-align: right;
}

.time-input, .distance-input {
  display: inline;
  width: 55px;
  text-align: right;
}

.time-input.minute, .time-input.hour {
  display: inline;
  width: 35px;
  text-align: right;
}

.title-input {
  display: inline;
}

.input-desc {
  display: inline;
  font-weight: normal;
  font-size: 16px;
}

.shoes-select {
  display: inline;
}

.shoe-input {
  display: inline;
}

.shoe-input.distance {
  text-align: right;
}

/* HEADER NAV */
.page-header {
  font-family: arial;
  display: block;
  background: #8BCF7E;
  font-size: 16px;
  border-bottom: 1px solid #a0e;
}

.header-nav {
  display: block;
  width: 900px;
  margin: auto;
  border-left: 1px solid #a0e;
  border-right: 1px solid #a0e;
}

.header-logo {
  display: block;
  float: left;
  padding: 20px;
  font-size: 36px;
  font-weight: bold;
  border-right: 1px solid #a0e;

}

.header-user {
  display: block;
  float: right;
}

.header-user > li {
  display: block;
  float: left;
  vertical-align: middle;
  text-align: center;
}

.header-user > li > img {
  padding: 11px 0px;
  width: 50px;
  height: 50px;
}

.header-user > li > a {
  display: block;
  padding: 10px 5px 10px 5px;
  margin: 20px 5px 20px 15px;
  border-radius: 25%;
  font-weight: bold;
}

.header-user > li > form > button {
  display: block;
  padding: 10px 5px 10px 5px;
  margin: 20px 15px 20px 10px;
  border-radius: 25%;
  font-weight: bold;
}

.header-user > li > a:hover,
.header-user > li > form > button:hover {
  background: #ACFC83;
  color: #a0e;
}



/* FOOTER NAV */
.page-footer {
  font-family: arial;
  display: block;
  background: #8BCF7E;
  border-top: 1px solid #a0e;
  height: 58px;
}

.footer-nav {
  width: 900px;
  margin: auto;
  border-left: 1px solid #a0e;
  border-right: 1px solid #a0e;
}

.footer-links-main {
  display: block;
  float: left;
}

.footer-links-add {
    display: block;
    float: right;
}

.footer-links-main > li,
.footer-links-add > li {
  display: block;
  float: left;
  padding: 10px;
}

.footer-links-add > li > a,
.footer-links-main > li > a {
  display: block;
  padding: 10px 5px 10px 5px;
  border-radius: 25%;
  font-weight: bold;
}

.footer-links-add > li > a:hover,
.footer-links-main > li > a:hover {
  background: #ACFC83;
  color: #a0e;
}

/* MAIN CONTENT */

.main-content {
  width: 860px;
  height: 760px;
  padding: 20px;
  margin: auto;
  overflow: hidden;
  border-left: 1px solid #a0e;
  border-right: 1px solid #a0e;
}

.blog-feed, .log-feed {
  width: 381px;
  height: 735px;
  display: block;
  background: #8BCF7E;
  border-radius: 10px;
  border: 1px solid #a0e;
  padding: 19px 19px 0px 19px;
}

.blog-feed {
  float: left;
}

.log-feed {
  float: right;
}

.blog-feed-title, .log-feed-title {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.blog-feed-list, .log-feed-list {
  padding: 0px 10px;
  height: 680px;
  overflow-y: scroll;
  background: #A0ED91;
  border-radius: 10px;
}

.log-feed-list-item,
.blog-feed-list-item {
  padding: 10px 0px;
}

.log-feed-list-item > .entry-title,
.blog-feed-list-item > .entry-title {
  font-weight: bold;
  font-size: 18px;
}

.log-feed-list-item > .user-date,
.blog-feed-list-item > .user-date {
  font-size: 12px;
}

.log-feed-list-item > .user-date > .username,
.blog-feed-list-item > .user-date > .username {
  font-weight: bold;
}

.log-feed-list-item > .entry-title:hover,
.blog-feed-list-item > .entry-title:hover,
.log-feed-list-item > .user-date > .username:hover,
.blog-feed-list-item > .user-date > .username:hover {
  color: #a0e;
}

/* USER PROFILE */

.blog-feed.user, .log-feed.user {
  height: 445px;
}

.blog-feed-list.user {
  height: 200px;
}

.log-feed-list.user {
  height: 390px;
}

.username-profile {
  display: inline;
  font-size: 36px;
  font-weight: bold;
}

.edit-profile-button, .discard-changes, .follow {
  display: inline;
}

.save-changes {

}

.view-user-profile {
  display: block;
  height: 200px;
  width: 860px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.user-profile-list {
  display: block;
  padding-top: 20px;
}

.user-pic {
  display: block;
  float: left;
  width: 199px;
  height: 199px;
  border-radius: 10px;
  border: 1px solid #a0e;
}

.join-miles {
  display: block;
  text-align: center;
  font-size: 20px;
}

.user-description {
  display: block;
  text-align: center;
  padding: 20px 0px;
  font-size: 24px;
}

.user-shoes-title {
  font-size: 24px;
  font-weight: bold;
  display: inline;
}

.user-shoes {
  padding-top: 10px;
  display: block;
}

.remove-shoes, .done-editing {
  display: inline;
}

.user-shoes-list {
  margin-top: 10px;
  padding: 10px;
  height: 125px;
  overflow-y: scroll;
  background: #A0ED91;
  border-radius: 10px;
}

.delete-shoe, .delete-shoe-cancel, .delete-shoe-confirm {
  display: inline;
}

/* BLOG / LOG SHOW */
.log-title, .blog-title {
  display: block;
  font-size: 36px;
  font-weight: bold;
  display: inline;
}

.edit-blog-button, .edit-log-button,
.discard-blog-changes, .discard-log-changes {
  display: inline;
}

.blog-author, .log-user {
  display: block;
  margin-bottom: 10px;
}

.blog-author > a, .log-user > a {
  font-weight: bold;
  font-size: 20px;
}

.blog-show, .log-show {
  padding: 10px;
  display: block;
  border: 1px solid #a0e;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 300px;
  background: #8BCF7E;
  overflow-y: scroll;
}

.blog-preview {
  font-style: italic;
  margin-bottom:15px;
}

.blog-body {
  font-size: 20px;
}

.log-show-list-item {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.log-list-item-desc {
  display: inline;
  font-weight: normal;
}

.log-notes-title {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.log-notes {
  font-size: 16px;
}

/* COMMENTS */
.comments-header {
  display: block;
  font-size: 24px;
  font-weight: bold;
  display: inline;
}

.blog-comments, .log-comments {
  display: block;
  border: 1px solid #a0e;
  padding: 10px;
  border-radius: 10px;
  height: 300px;
  background: #8BCF7E;
  overflow-y: scroll;
}

.submit-comment, .discard-comment, .add-new-comment {
  display: block;
  padding: 10px 5px 10px 5px;
  border-radius: 25%;
  font-weight: bold;
}

.submit-comment {
  margin-top: -10px;
}

.comments-list-item {
  margin-bottom: 15px;
}

.comment-author, .comment-date {
  font-size: 14px;
  font-style: italic;
}

.comment-author > a {
  font-size: 16px;
  font-weight: bold;
}

.comment-body {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background: #A0ED91;
}

.submit-comment:hover, .discard-comment:hover, .add-new-comment:hover {
  background: #ACFC83;
}

/* SEARCH PAGE */
.search-title {
  display: block;
  font-size: 36px;
  font-weight: bold;
}

.search-users {
  margin-top: 10px;
  display: block;
  padding: 10px;
  border: 1px solid #a0e;
  border-radius: 10px;
  height: 680px;
  background: #8BCF7E;
  overflow-y: scroll;
}

.search-area {
  display: block;
  width: 330px;
  margin: auto;
}

.search-users-form {
  display: block;
  float: left;
}

.search-users-form > label, .search-users-form > label > input, .search-users-form > button {
  display: inline;
}

.all-users {
  display: block;
  float: left;
}

.all-users, .search-users-form > button {
  padding: 10px 5px 10px 5px;
  border-radius: 25%;
  font-weight: bold;
}

.all-users:hover, .search-users-form:hover > button {
  background: #ACFC83;
}

.search-list {
  display: block;
  padding: 10px;
}

.search-list-item {
  display: block;
  margin-bottom: 20px;
}

.search-list-item > a {
  font-size: 20px;
  font-weight: bold;
}

.search-list-item > p {
}

/* LAST ACTION */
.hidden {
  display: none;
}
