/* BLOG / LOG SHOW */
.log-title, .blog-title {
  display: block;
  font-size: 36px;
  font-weight: bold;
  display: inline;
}

.edit-blog-button, .edit-log-button,
.discard-blog-changes, .discard-log-changes {
  display: inline;
}

.blog-author, .log-user {
  display: block;
  margin-bottom: 10px;
}

.blog-author > a, .log-user > a {
  font-weight: bold;
  font-size: 20px;
}

.blog-show, .log-show {
  padding: 10px;
  display: block;
  border: 1px solid #a0e;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 300px;
  background: #8BCF7E;
  overflow-y: scroll;
}

.blog-preview {
  font-style: italic;
  margin-bottom:15px;
}


.log-show-list-item {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.log-list-item-desc {
  display: inline;
  font-weight: normal;
}

.log-notes-title {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.log-notes {
  font-size: 16px;
}
