.page-header {
  font-family: arial;
  display: block;
  background: transparent;
  font-size: 16px;
  border-bottom: 1px solid transparent;
  position: relative;
}

.header-nav {
  display: block;
  width: 900px;
  margin: auto;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.header-logo {
  display: block;
  float: left;
  width: 220px;
  border-radius: 40px;
  font-size: 50px;
  overflow: hidden;
}

.header-logo > a {
  display: block;
  width: 200px;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 23px;
  text-align: center;
  position: relative;

}
.header-logo > a > p {
  display: block;
  float: left;
  border-color: inherit;
}


.logr {
  margin-left: 105px;
}

.run {
  border: 4px solid #000;
  border-radius: 75%;
  width: 90px;
  height: 60px;
  position: absolute;
  left: 16px;
  top: 12px;
  padding-left: 5px;
  padding-top: 4px;
}

.header-logo:hover {
  background: #ACFC83;
  color: #a0e;
  border-color: #a0e;
}

.header-user {
  display: block;
  float: right;
}

.header-user > li {
  display: block;
  float: left;
  vertical-align: middle;
  text-align: center;
}

.header-user > li > img {
  padding: 11px 0px;
  width: 70px;
  height: 70px;
}

.header-chunk {
  display: block;
  float: left;
  text-align: center;
}

.header-chunk > li > a,
.header-chunk > li > form > button,
.user-search-header > a  {
  display: block;
  border-radius: 25%;
  font-weight: bold;
}

.user-search-header > a {
  float: left;
  padding: 10px 5px 10px 5px;
  margin: 28px;
  font-size: 20px;
}

.header-chunk > li > a,
.header-chunk > li > form > button  {
  padding: 10px 5px 10px 5px;
  margin: 7px;
}

.header-chunk > li > a:hover,
.header-chunk > li > form > button:hover,
.user-search-header > a:hover {
  background: #ACFC83;
  color: #a0e;
}

.header-profile-pic > a > img {
  width: 100%;
  height: auto;
  display: block;
}

.header-profile-pic {
  overflow: hidden;
  width: 68px;
  height: 68px;
  border-radius: 5px;
  border: 1px solid transparent;
  margin: 12px 0px;
}

.header-profile-pic:hover {
  border: 1px solid #fff;
}
