<h1>Create Blog</h1>
<form class="blog-form">
<label "blog-label">Title:
<input type="string" name="blog[title]">
</label>
<br>
<label "blog-label">Body:
<br>
<textarea name="blog[body]" rows="20" cols="50"></textarea>
</label>
<br>
<label "blog-label">Preview:
<br>
<textarea name="blog[preview]" rows="2" cols="50"></textarea>
</label>
<br>
<button>Post Blog</button>
</form>
