<h1>Recent Blogs</h1>
<ul class="blog-list">
  <% blogs.each( function(blog) { %>
    <li class="blog-list-item">
      <%= blog.escape('title') %>
      <br><%= blog.escape('author_id') %> - <%= blog.escape('created_at') %>
      <br>
      <%= blog.escape('preview') %>
    </li>
    <br>
  <% }) %>
</ul>
