<h1 class="form-title">New Blog Post</h1>
<form class="blog-form group">
  <label class="blog-label">Title:
    <input class="title-input" type="string" name="blog[title]">
  </label>

  <label class="blog-label">Body:
    <textarea name="blog[body]" rows="20" cols="50"></textarea>
  </label>

  <label class="blog-label">Preview: <p class="input-desc">(optional)</p>
    <textarea name="blog[preview]" rows="2" cols="50"></textarea>
  </label>

  <button>Post Blog</button>
</form>
