<h1>Add Training Log</h1>
<form class="create-log">
<label "log-label">Title:
<input type="string" name="log[title]">
</label>
<br>
<label "log-label">Date:
<input type="date" name="log[date]">
</label>
<br>
<label "log-label">Distance:
<input type="number" step="0.01" name="log[distance]">mi
</label>
<br>
<label "log-label">Duration:
<input type="number" name="duration[hours]">hrs
<input type="number" name="duration[minutes]">min
<input type="number" step="0.01" name="duration[seconds]">sec
</label>
<br>
<label "log-label">Notes:
<br>
<textarea name="log[notes]" rows="4" cols="50"></textarea>
</label>
<br>
<button>Add Log</button>
</form>
