<h1 class="form-title">New Shoe</h1>

<form class="new-shoe">

  <label class="shoe-label">Name:
    <input class="shoe-input" type="text" name="shoe[name]">
  </label>
  <label class="shoe-label">Initial Distance:
    <input class="shoe-input distance" type="number" min="0" max ="999.99" value="0" step="0.01" name="shoe[distance]">
    <p class="input-desc">(mi)</p>
  </label>
  <button>Add Shoe</button>
</form>
