<h1>New Shoe</h1>

<form class="new-shoe">

  <label class="shoe-label">Name:
    <input type="text" name="shoe[name]">
  </label>
  <br>
  <label class="shoe-label">Initial Distance:
    <input type="number" step="0.01" name="shoe[distance]">mi
  </label>
  <br>
  <button>Add Shoe</button>
</form>
