<h1>Find Users</h1>
<form class="search-users">
  <input type="text" class="query" value="<%= users._query %>">
  <button>Search</button>
</form>
<br>
<br>
<button class="all-users">Show All</button>
<ul>
  <% users.each( function(user) { %>
    <li><a href="#users/<%= user.id %>"><%= user.escape('username') %></a>
    <br><%= user.escape('description') %>
    </li>
  <% }) %>
</ul>
